body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font:white;
    border:1px solid gray;
    max-width: 100%;
    height: 500px;
    background-color:black;
    border-radius: 50%;
}
h1{
    color: white;
    text-align: center;
}

button{
    width: 100px;
    height: 50px;
    /* margin-top:20px; */
    border-radius: 80%;
    color: white;
    font-weight: bold;
    outline:none;
}
.timer{
    display: flex;
    justify-content: center;
    }
    
#time{
    
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 5rem;

}


#start{
    background-color: yellowgreen;
}
#stop{
    background-color: tomato;
}
#reset{
    background-color: lightseagreen;
}

