



.slot{
float:left;
width:150px;
text-align:center;
font-size:50px;
background-color: chocolate;
margin-top: 30px;
margin-left: 10px;
border:solid 2px;
}

#button{
    border-radius: 50%;
}